*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.section1{
    background-color: #FAFAFB;
    /* background-color: pink; */
    width: 100%;
    height: 20vh;
}
header{
    display: flex;
    padding: 30px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 500ms;

}

nav{
    margin-right: 70px;

}
nav a{
    display: inline-block;
    margin-left: 10px;
    font-size: 17px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    /* text-transform: uppercase; */
    border-bottom: 3px solid transparent;
    padding: 10px 1px ;
    transition: 200ms;
}
/* .wow{
    border-color: blue;
} */

/* nav a:hover{
    border-color: red;
} */
.logo>img{
    width: 130px;
    transition: 500ms;
}
.logo{
    flex: 1;
    /* width: 20px; */
    /* height: 20px; */
    /* font-size: 35px; */
    font-family: sans-serif;
    margin-left: 70px;
    color: #fff;
    
}
.bgc{
    background: #fff;
    padding: 10px;

}
.bgc .logo>img{
    /* font-size: 30px; */
    width: 120px;
    color: brown;
    transition: 300ms;
}
.bgc nav a {
    color: #222;
    
}
/* login buttons>>> */
#login,#Signup{
    border: 1px solid #5846F6;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    font-size: 15px;
    line-height: 15px;
}
#login{
    color:#5846F6;
}
#Signup{
    background-color: #5846F6;
    color: white;
}
#login:hover{
    background-color: rgba(39, 38, 49, 0.041);
    /* transition: ease-in 3ms; */
    transition: ease-in 3ms 0ms 1.2ms;
}
#Signup:hover{
    background-color: #4b3ae4;
    /* transition: ease-in 3ms; */
    transition: ease-in 3ms 0ms 1.2ms;
}
.lumenSign{
    margin-top: 5vh;
    display: inline-block;
    border: 1px solid #5846F6;
    color: white;
    background-color: #5846F6;
    font-size: 17px;
    padding: 17px 27px 18px 27px;
    border-radius: 100px;
    /* line-height: 20px; */
    /* display: block; */
}
.lumenSign:hover{
    background-color: #4b3ae4;
    /* transition: ease-in 3ms; */
    transition: ease-in 3ms 0ms 1.2ms;
}


.section2{
    background-color: #FAFAFB;
    /* width: 100%; */
    padding: 20px;
    /* height: 100vh; */
    padding-left: 60px;

}
/* .section2 h2 {
    padding: 20px;
    font-size: 40px;
} */

.para{
    margin-top: 12vh;
    text-align: center !important;
}

.para h2{
    line-height: 9vh;
    color: #24282F;
    font-size: 3.4rem;
    font-weight: 500;
    display: block;
}
.para h5 {
    margin-top: 15vh;
    font-size: 1.4rem;
    color: #24282F;
    line-height: 5vh;
    font-weight: 500;
}
.vidcol1{
    margin-top: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wid1{
    width: 80%;
    /* width: auto; */
}
.reach{
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 5vh;
    font-size: 1.4rem;
    color: #222;
}
.companies-logo{
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cols2{
    /* border: 2px solid; */
    /* width: 80%; */
    margin-top: 20vh;
    display: flex;
    /* align-items: center; */
    align-content: space-around;
    height: 100vh;
}
/* .vid2{
    width: 250px;
    height: 400px;
} */
.deck{
    width: 40%;
}
.vidd{
    /* width: 60%; */
    margin-top: 10vh;
    height: 300px;
}
hr{
    width: 20em;
}
.deck>h3{
    font-size: 2.2em;
    color: #3d3d3d;
}
.deck>h5{
    margin-top: 10vh;
    font-size:19px;
    line-height: 5.5vh;
    font-weight: 500;
    color: #494949;
    /* align-items: end; */
    /* line-break: loose; */
}
.atag{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.bottom{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.section3{
    /* height: 100vh; */
    background-color: #645BFF;
    display: grid;
    grid-template-columns:repeat(2,1fr );
    gap: 20px;
}
.row{
    /* width: 100%; */
    margin: auto;
    border: 2px solid springgreen;
}
.row-video{
    margin-top: 15vh;
    /* position: relative; */
}
.row1{
    /* text-align: center; */
    /* margin: auto; */
    width: 85%;
    margin-bottom: 7vh;
    display: inline-flexbox;
}
.row-video>video{
    /* box-sizing: border-box; */
    width: 80%;
    /* margin-left: 10%; */
    margin-top: 5vh;
    
    
}